#home {
  background: url("http://chl-wordpress-uploads.s3.amazonaws.com/app/uploads/2018/04/12153335/QAlumin2018NHLPlayoffs-1024x576.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
 margin-top: 10px;
 margin-left: 80px;
 margin-right: 80px;

}

body {
  margin: 50;
}

h3 {
  margin: 20px;
}

h4 {
  margin: 20px
}

table {
  margin: 20px;
}

th {
  width: 25%
}

#avalanche {
  background: url("https://media.graytvinc.com/images/810*455/avsweb+31.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

#nhl {
  background: url("https://wallpapercave.com/wp/Byl8xV1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}
